* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: #6d1783;
}

.login {
  width: 340px;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
}
#logoin {
  width: 500px;
  border-radius: 18px;
}
.login h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.login form {
  font-size: 20px;
}

.login form .form-group {
  margin-bottom: 12px;
}

.login form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  #logoin {
    width: 338px;
    margin-top: 15px;
  }

  body {
  }
}
