body {
  background: rgb(221, 221, 225);
}
.container {
  width: 80%;
}
h1 {
  text-align: center;
  margin-top: 2px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
table.dataTable thead {
  background-color: #5c3990;
  color: rgb(227, 230, 233);
}
tr:nth-child(even) {
  background-color: rgb(223, 223, 225);
}
tr:hover {
  font-weight: 500;
}

/*----Estilos de boostrap-----*/
.dataTables_length {
  margin: 10px;
}
.tabla_info {
  font-weight: bold;
}

select.form-select {
  background: black;
  color: white;
}
a.page-link {
  background-color: #5c3990;
  color: white;
}

label {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
